.list {
  color: green;
  background-color: yellow;
  height: 50px;
  width: 300px;
  margin: 20px auto;
  border-radius: 5px;
  text-align: center;
}
.list p {
  padding: 10px;
  position: relative;
}

.list p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.faicons {
  margin: 0 5px;
  font-size: 15px;
}
.list p input {
  background-color: transparent;
  border: 0;
}
.list p input:focus {
  outline: none;
}
