body {
  background-color: cornflowerblue;
}
.App {
  text-align: center;
  background-color: burlywood;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form #todo-ip {
  background-color: salmon;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  border: 0;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form #todo-btn {
  height: 50px;
  width: 80px;
  border-radius: 10px;
  border: 0;
  background-color: violet;
  cursor: pointer;
  color: brown;
}
#to-do-form #todo-ip::placeholder {
  color: white;
  text-align: center;
}
